.custom-Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.custom-container {
  max-width: 95%;
  margin: auto;
}

.custom-header {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 60.09px;
  height: 94.81px;
  left: 63px;
  top: 50px;
}

.header-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 42px;
  padding-left: 10px;
  color: var(--theme-text-color);
  font-family: "TimeTravel";
}

.custom-navLink {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
