.footer-container {
  // position: fixed;
  // bottom: 0;
  //    max-width: 90%;
}

.custom-footer-row {
  // width: 100vw;
  margin: auto;
}

.footer-links {
  display: flex;
  align-items: center;

  // justify-content: space-around;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}

.footer-nav-auto {
  &:first-child {
    padding: 0 70px 0 35px;
  }
}

.footer-social-media {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer-logo {
  width: 48.69px;
  height: 53.17px;
  margin: 1rem;
  cursor: pointer;
}
