.Footer-Navbar-css{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

.Footer-nav-auto{
    width: 20%;
    display: flex;
    justify-content: space-between;
    // background-color: aqua;
}

.Footer-navLink{
    width: 30%;
    display: flex;
    justify-content: space-between;
    color: #474747;
    font-family: 'Public Sans';
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
}

.median-logo{
    width: 48.69px;
    height: 53.17px;
    left: 1494px;
    top: 986.82px;
}

.twitter-logo{
    width: 48.69px;
    height: 53.17px;
    left: 1494px;
    top: 986.82px;
}

.instagram-logo{
    width: 48.69px;
    height: 53.17px;
    left: 1494px;
    top: 986.82px;
}

.telegram-logo{
    width: 48.69px;
    height: 53.17px;
    left: 1494px;
    top: 986.82px;
}