.light {
    --theme-main-text: #3E3E3E;
    --theme-page-background:linear-gradient(252.44deg, #7DD6D3 0%, #FFFFFF 49.27%, #7DD6D3 100%);
    --theme-text-color: #474747;
    --theme-button-bg-color: #FFFFFF;
    // --theme-card-bg-color: #215355;
 
    
}

.dark {
    --theme-main-text: white;
    --theme-page-background: linear-gradient(108.49deg, #062829 14.09%, #054548 46.64%, #07383C 68.08%, #071518 90.63%);
    --theme-text-color: #FFFFFF;
    --theme-button-bg-color: #215355;
    // --theme-card-bg-color: #215355;
}