.modal-content {
  background-color: #fff;
}

.modal-coin-dark {
  .custom-coin-search {
    background-color: #071f21;
    border: 0px solid #071f21;
  }
  .selectcoin-list {
    background-color: #071f21;
  }
  .selectcoin-list {
    color: #fff;
  }
}

.modal-coin-light {
  .custom-coin-search {
    background-color: #fff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px solid #fff;
  }
  .selectcoin-list {
    background-color: #fff;
  }
  .selectcoin-list {
    color: black;
  }
}

.custom-coin-search {
  width: 25vw;
  height: 7vh;
  border-radius: 20px;
  display: flex;
}

.custom-coin-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 70px;
  min-height: 15vh;
  overflow: scroll;
}

.selectcoin-list {
  cursor: pointer;
  width: 25vw;
  height: 60px;
  display: flex;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.coin-logo {
  width: 40px;
  height: 40px;
}

.coin-title {
  text-align: center;
}
