@import "../../../theme.scss";

.custom-coin-modal{
    display: flex;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;  
    // width: 70%;
  }
  
.custom-typehead{
    width: 25vw;
    height: 7vh;
    // background-color: var(--theme-modal-typehead-bg-color);
    border-radius: 20px;
    display: flex;
}

.custom-body{
    width: 100%;
    
}

.custom-row{
    margin: auto;
    border-bottom: 1px solid silver;
    width: 80%;
    text-align: left;
}


.custom-logo{
    padding:  2rem;
    width: 20%;
}