@import "../../../theme.scss";

.custom-coin-modal {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: flex-end;
}

.modal-content {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
}

.custom-search {
  width: 90%;
  height: 50px;
  border-radius: 20px;
  display: flex;
  padding: 10px 30px;
}

.custom-body {
  width: 100%;
}

.custom-row {
  margin: auto;
  width: 90%;
  text-align: left;
}

.custom-logo {
  padding: 2rem;
  width: 20%;
}

.list-col {
  height: 60px;
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  cursor: pointer;
}

.custom-row-body {
  height: 380px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.model-switch-dark {
  .modal-content {
    background-color: #061b1d;
  }
  .list-col {
    &:hover {
      background-color: #04101198;
    }
  }
  .custom-search {
    background-color: #0d2e2f;
    border: 0px solid #0d2e2f;
  }
}
@mixin modalContent() {
  border: none;
  color: #fff;
  height: 80%;
}
.modal-coin-dark {
  .modal-content {
    @include modalContent();
    background-color: transparent;
  }
}

.modal-coin-light {
  .modal-content {
    @include modalContent();

    background-color: transparent;
  }
}

.model-switch-light {
  .list-col {
    &:hover {
      background-color: #bfecf0;
    }
  }
  .custom-search {
    background-color: #f6f6f6;
  }
}

.custom-selectdex-logo{
  
}