@import "../../../theme.scss";

.custom-modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  background-color: #fff;
}

.model-switch-dark {
  .modal-content {
    background-color: #062829;
    color: #fff;
  }
}

.model-switch-light {
  .modal-content {
    background-color: #fff;
    color: black;
  }
}

.metamask-logo {
  width: 35px;
  height: 40px;
}

.custom-modal-btn {
  @include btn-base();

  display: flex;
  align-items: center;

  background: linear-gradient(
    306.61deg,
    rgba(25, 116, 94, 0.189) 3.25%,
    rgba(0, 219, 168, 0.3) 122.38%
  );

  height: 5rem;
  width: 300px;

  border: 0px solid #215355;
  cursor: pointer;

  margin: 1rem 0;
  padding: 0 2rem;

  &:hover,
  &:active,
  &:focus {
    background: linear-gradient(
      306.61deg,
      rgba(25, 116, 94, 0.189) 3.25%,
      rgba(0, 219, 168, 0.3) 122.38%
    );
  }

  img {
    height: 50px;
    width: 50px;
  }
}

.selectchain-title {
  width: 100%;
  text-align: center;
}

.network-logo {
  width: 40px;
  height: 50px;
  align-self: center;
}

.network-title {
  text-align: center;
}

.custom-selectchain-body {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.selectchain-list {
  cursor: pointer;
  background: linear-gradient(
    306.61deg,
    rgba(25, 116, 94, 0.189) 3.25%,
    rgba(0, 219, 168, 0.3) 122.38%
  );
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
}
